<article class="news">
	<header class="titre">
		<h2 title="{article_chapo}" class="{article_tags_plain}"><a href="{article_lien}" title="">{article_titre}</a></h2>
		<h3 class="date"><img src="{style}/images/icon_date.png" alt=""/> {article_date} - <a href="{article_lien}#commentaires" title="">{nombre_commentaires}</a></h3>
	</header>
	<!--<p class="chapo">{article_chapo}</p>-->
	{article_contenu}
	<p class="tags"><img src="{style}/images/icon_tag.png" alt=""/> Tags de l'article : {article_tags}</p>
</article>