/* GENERAL
-------------------------------------------------------- */
html, body{
	margin: 0;
	padding: 0;
	color: #ccc;
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background: black;
	word-wrap: break-word;
}

p { 
	margin: 0 0 15px 0;
	text-align: justify;
}

h1 {
	font-size: 34px;
}

a {
	color: #bbb;
}

a:visited {
	color: white;
}

hr {
	color: #222;
	background-color:black;
	clear:left;
}

#email-adress {
	display: none!important;
}

/* LAYOUT
-------------------------------------------------------- */
#top {
	text-align: center;
	height: 120px;
	display: block;
	color: #fff;
}

#top h1 a {
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
	font-size: 36px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#top h2 {
	margin:-20px;
	padding:0;
}

#page {
	width: 900px;
	margin: 25px auto 0;
	background: black;
	padding: 20px;
	border: 1px solid #333;
}

#contenu {
	display: block;
	width: 600px;
	padding: 0 15px 0 15px;
}

#sidebar {
	display: block;
	width: 220px;
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #333;
	background: black;
	float: right;
}

/* POST
-------------------------------------------------------- */
#post {
	margin: 0 100px 0 100px;
}

h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

h3 {
	display: block;
	margin-bottom: 0;
}

/* POST BLOCS
-------------------------------------------------------- */
.news {
	padding: 0 0 0 25px;
	border-bottom: 1px solid #222;
	margin: 0 0 15px 0;
	background: url("star.gif") no-repeat left 5px;
}

.news h2 a:visited {
	color: #bbb;
}

.news h3 {
	font-size: 20px;
}

.news img, .news iframe {
	max-width: 100%;
}

.news figure {
	display:block;
	float: right;
	margin: 5px 0 5px 10px;
	padding:10px;
	text-align: center;
}

.news figcaption {
	font-size: 9px;
	font-style: italic;
}

.chapo {
	text-indent:2em;
}

/* COMMENT BLOCS
-------------------------------------------------------- */
.comment {
	background: black;
	border: 1px dashed #333;
	padding: 10px;
	margin-bottom: 10px;
}

.comment h3 {
	margin-top: 0;
}

/* FORM COMMENT
-------------------------------------------------------- */
#postcom {
	padding: 20px;
	background: black;
	border-top: 1px solid #ddd;
}

#postcom p {
	margin: 0;
}

#postcom label {
	margin-top: 5px;
}

textarea.commentaire {
	width: 555px;
	height: 200px;
}
.infos input, textarea.commentaire {
	border: 1px solid gray;
}

.formatbut input, .infos input {
	display: inline;
	min-width: 26px;
}

.formatbut .pm {
	float: right;
}

.formatbut input[value="B"] { font-weight: bold; }
.formatbut input[value="I"] { font-style: italic; }
.formatbut input[value="U"] { text-decoration: underline; }
.formatbut input[value="S"] { text-decoration: line-through; }

#form-commentaire fieldset {
	border: none;
	margin:0;
	padding:0;
}

#form-commentaire .infos {
	text-align:right;
	width: 430px;
	margin: 10px auto;
}
#form-commentaire fieldset.infos input {
	margin-top: 2px;
}

#form-commentaire .buttons {
	margin-top: 15px;
	text-align: center;
}

/* Boutons de formatage  */
p.formatbut {
	border: 1px solid #9999a3;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	width: 98%;
	height: 30px;
	line-height: 28px;
	margin: 0; padding: 0 1%;
	background: #cde6ff;
	background: -webkit-linear-gradient(top, white, #e6e6e6);
	background: -moz-linear-gradient(top, white, #e6e6e6);
	background: -ms-linear-gradient(top, white, #e6e6e6);
	background: -o-linear-gradient(top, white, #e6e6e6);
	background: linear-gradient(top, white, #e6e6e6);
}

.formatbut button.pm {
	margin-top: 3px;
}

.formatbut button {
	padding: 0;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0);
	height: 24px; width: 24px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.formatbut button:hover {
	border-color: silver;
}

.formatbut button:active {
	border-color: gray;
	background-color: rgba(0, 0, 0, 0);
	background: #cde6ff;
	background: -webkit-linear-gradient(bottom, white, #d6d6d6);
	background: -moz-linear-gradient(bottom, white, #d6d6d6);
	background: -ms-linear-gradient(bottom, white, #d6d6d6);
	background: -o-linear-gradient(bottom, white, #d6d6d6);
	background: linear-gradient(bottom, white, #d6d6d6);
}

.formatbut button span {
	display: inline-block;
	width: 16px;
	height: 24px;
}

.formatbut span.spacer {
	width: 2px;
	margin: 0 4px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #fafafa
}

#pmm span      { background: no-repeat -4px -142px url(images/format.png); }
#pmp span      { background: no-repeat -4px -162px url(images/format.png); }
#button01 span { background: no-repeat -4px   -1px url(images/format.png); }
#button02 span { background: no-repeat -4px  -21px url(images/format.png); }
#button03 span { background: no-repeat -4px  -42px url(images/format.png); }
#button04 span { background: no-repeat -4px  -82px url(images/format.png); }
#button09 span { background: no-repeat -4px  -62px url(images/format.png); }
#button10 span { background: no-repeat -4px -102px url(images/format.png); }
#button12 span { background: no-repeat -4px -122px url(images/format.png); }

/* CALENDAR
-------------------------------------------------------- */
#calendrier {
	display: block;
	float: left;
	width: 220px;
	border: 1px solid #333;
	margin-bottom: 10px;
}

#calendrier caption {
	background: black;
	color: #666;
	padding: 4px;
}

#calendrier caption a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#calendrier td {
	font-size: 12px;
	color: #555;
	text-align: center;
	background: black;
	width: 30px;
	line-height: 2em;
}

#calendrier td a{
	display: block;
	text-decoration: none;
	color: #aaa;
	background: #333;
	font-weight: bold;
}

#calendrier td a:hover {
	background: #666;
	color: #fff;
}

#calendrier td.active a {
	color:#fff;
	background: #0066CC;
}

/* OTHERS
-------------------------------------------------------- */
#footer p {
	margin: 1em 0;
	text-align: center;
	color: #999;
}

.pagination {
	text-align: center;
}

/* MEDIA QUERIES
-------------------------------------------------------- */
@media only screen and (min-device-width: 480px) {
	#mobilelink {
		display: none;
	}
}